<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create this layout</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <section class="header-container">
      <header>
        <h1 id = make-this-form>Create this layout</h1>
      </header>
    </section>

    <section class="container">
      <h1>Header (70pt)</h1>
    </section>

    <section class="container-2">
      <div class="container-2-lside">
          <h1>LSide (auto)</h1>
      </div>
      <div class="container-2-content">
          <h1>Content (expands)</h1>
      </div>
        
      <div class="container-2-rside">
        <h1>RSide (100pt)</h1>
      </div>
    </section>

    <section class="container">
      <footer>Footer (auto)</footer>
    </section>

    <script src="main.js"></script>
  </body>
</html>
