* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.header-container {
  margin:auto;
  width:80%;
  padding-bottom: 1rem;
}

.container {
  margin:auto;
  width:80%;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: rgb(243, 243, 243);
}

.container h1{
  height: 70pt;
  background-color: pink;
}

.container-2{
  display:flex;
  margin:auto;
  width:80%;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: rgb(243, 243, 243);
}

.container-2-lside{
  flex:0.2;
  background-color: rgba(221, 107, 221, 0.514);
  padding-bottom:20rem;
}

.container-2-content{
  flex:2;
  background: rgba(255, 255, 0, 0.281);
}

.container-2-rside{
  width:100pt;
  background-color: rgba(107, 204, 221, 0.521);
}

#make-this-form{
  font-family: Arial;
  font-weight: Normal;
  font-size: 50px;
}

.container footer{
  background-color: rgba(0, 0, 255, 0.26);
  font-size: 25px;
  font-weight: bold;
  padding:0.5rem;
}



